/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.content {
  margin: 125px 55px;
}

.heading {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-shadow: 2px 2px #792c98;
}

body {
  background-color: #e6e5b7;
}
